.radio
    $self: &

    &:not(:last-child)
        margin-bottom: 15px

    &__input
        display: none

        &:checked
            + #{$self}__label
                &::after
                    background-color: $primary
                    border-radius: 50%
                    content: ""
                    display: block
                    position: absolute
                    top: 11px
                    left: -25px
                    width: 11px
                    height: 11px
                    @include media-breakpoint-up(lg)
                        top: 6px
                        width: 9px
                        height: 9px

    &__label
        font-size: 16px
        font-weight: 300
        line-height: 1.2
        margin-left: 30px
        position: relative
        margin-bottom: 0


        &::before
            border: 1px solid $primary
            border-radius: 50%
            content: ""
            display: block
            position: absolute
            top: 7px
            left: -29px
            width: 20px
            height: 20px
            @include media-breakpoint-up(lg)
                top: 2px
                width: 17px
                height: 17px

    // Btns style
    &--btn
        #{$self}
            &__label
                background-color: $gray-600
                border-radius: 5px
                color: $white
                cursor: pointer
                display: block
                text-align: center
                padding: 5px 15px
                font-weight: normal
                font-size: 20px
                @include media-breakpoint-up(lg)
                    padding: 4px 10px
                    font-size: 16px

                &--danger
                    background-color: $red

                &--warning
                    background-color: $yellow

                &--success
                    background-color: $green




