.result-block__title Планирование и Декомпозиция целей
.row
    .col-md-auto
        img(src="./images/result-block/bad/itog-testirovaniia.jpg" alt="Итоги тестирования")

    .col-md.textblock
        h3.h5.mb-1 Итоги тестирования
        p.mb-0 Ты нуждаешься в улучшении навыков планирования и декомпозиции. Это очень сильно ограничивает реализацию твоего потенциала.
        p.mb-0 Если ты научишься правильно ставить цель и освоишь технику декомпозиции, то самая большая мечта начнет осуществляться.
        p.mb-0 Я подготовил для тебя короткие мини-упражнения, которую ты можешь применить уже сегодня и получить практические навыки планирования и декомпозиции.

h3.h6.text-cobalt.position-relative.mt-40
    img.bad-result-arrow-down-1(src="./images/result-block/bad/bad-result-arrow-down-1.png" alt="")
    | Скорее смотри это видео и выполняй задания. <br /> Не жди, начинай делать прямо сейчас.

.row.align-items-center
    .col-md-auto
        a.video-stub(href="#")
            img.img-fluid(src="./images/result-block/bad/video-stub.jpg" alt="Скорее смотри это видео и выполняй задания.")
    .col-md-1.textblock
        p.m-0 или

    .col-md.text-center
        a.font-weight-bold.fz-14(href="#")
            i.icon.pdf
            span.d-block.mt-1 Скачать технику <br />в PDF-формате

.mt-15
    a.d-flex.align-items-center.fz-14(href="#" target="_blank")
        i.icon.telegram
        span.ml-2 Вступить в группу->>
