.quiz
    &__block
        &-tlt
            font-size: 23px
            text-align: center
            line-height: 0.96

        &-header
            align-items: center
            display: flex

            &-counter
                @include responsive-tlt(80px, 106.5px)
                font-weight: 900
                line-height: 0.25
                text-align: center
                color: #193085
                position: relative

                &::after
                    @include linear-gradient(to bottom, #e0deed, $white)
                    content: ""
                    position: absolute
                    left: 50%
                    transform: translateX(-46%)
                    bottom: -77px
                    height: 54px
                    width: 88%

    // Quiz question block
    &__quest-block
        margin-top: 30px
        @include media-breakpoint-up(sm)
            margin-top: 35px
        @include media-breakpoint-up(md)
            margin-top: 45px
        @include media-breakpoint-up(lg)
            margin-top: 55px
        @include media-breakpoint-up(xl)
            margin-top: 66px

    // Buttons
    &__btns
        .btn
            text-shadow: 0 0 2.8px #2a5d5b
            border-radius: 24px
            color: $white
            font-size: 19px
            font-weight: 900

            &.btn-next
                &:not(.is-active)
                    cursor: not-allowed

                &.is-active
                    background-color: $primary
                    border-color: $primary

                    &:focus
                        box-shadow: 0 0 0 0.2rem rgba($primary, .5)

    /**
     * Get phone
     */
    &__get-phone
        &-tlt
            color: #381c85
            text-transform: uppercase
            font-weight: 900

        &-phone
            position: absolute
            left: -105px
            bottom: -60px
            z-index: 0

        &-field
            margin-top: -25px
            padding-left: 120px
            padding-right: 80px
            position: relative

            .form
                &__group
                    width: 100%
                    max-width: 272px

                &__label
                    padding-left: 50px
                    white-space: nowrap

                &__control
                    text-align: center

            .btn
                border-radius: 33px
                text-shadow: 0 0 2.8px #336f6c
                font-size: 18px
                font-weight: 900
                color: $white
                text-transform: uppercase
                padding-left: 35px
                padding-right: 35px

        &-bottom
            p
                color: #010101
                font-weight: 300
                line-height: 1.13

        &-hide
            opacity: 0
            transition: opacity 0.3s ease

    // Present
    &__present
        max-width: 211px
        position: relative

        &-arrdown
            position: absolute
            bottom: -5px
            left: -86px

        &-small
            color: #373737
            font-size: 12px
            font-weight: 300
            line-height: 1.08
            text-align: center

