// Radio buttons
.row.justify-content-xl-end.justify-content-center.no-gutters
    .col-auto.pr-xl-30
        h2.h4.quiz__get-phone-tlt Система приступила к анализу <br class="d-none d-sm-inline" />результатов тестирования

        .pl-xl-35.pl-sm-30
            h3.font-weight-normal Как вам удобнее <br />получить результат?
            .radio.mb-xl-10
                input.radio__input#whatsApp(type="radio" name="getResult")
                label.radio__label(for="whatsApp") Пришлите мне в <b>WhatsApp</b>

            .radio.mb-xl-10
                input.radio__input#telegram(type="radio" name="getResult")
                label.radio__label(for="telegram") Пришлите мне в <b>Telegram</b>

            .radio
                input.radio__input#callMe(type="radio" name="getResult" checked)
                label.radio__label(for="callMe") Перезвоните мне, у меня <br />остались вопросы


    .col-md.quiz__present.d-none.d-xl-block
        .present.mb-2
            .present__title Ваш подарок
            .present__body
                img(src="./images/present/main.png" alt="Ваш подарок")

            .present__footer Результаты тестирования и набор техник-приемов: видео + PDF-файл

        p.quiz__present-small.mb-0 Вы получите результат <br /> сразу после регистрации
        img.quiz__present-arrdown(src="./images/quiz-get-phone-down.png" alt="")

//- Phone field
.quiz__get-phone-field.quiz__get-phone-field--js
    img.quiz__get-phone-phone(src="./images/phone.png" alt="Как вам удобнее получить результат?")

    .row.align-items-xl-end.no-gutters
        .col-xl.col-12.pr-xl-20
            .form__group
                label.form__label(for="phone") Введите номер телефона <br /> и получите результаты тестирования
                input.form__control.phone-mask--js#phone(type="tel" name="phone" placeholder="_ (___) ___-__-__" required)

        .col-xl.col-12.mt-15.mt-xl-0
            button.btn-submit--js.btn.btn-primary.btn-s67.btn-flare(type="submit") Получить результат

//- Bottom
.quiz__get-phone-bottom.mt-30
    //- Include spinner
    .spinner-block.mb-25
        include ../../components/spinner-block/spinner-block

    .quiz__get-phone-hide.quiz__get-phone-hide--js.text-center
        p.mb-0 Результат тестирования и набор мини-техник для тебя сформирован.
        p.mb-0
            strong Он откроется сразу после регистрации
