header.quiz__header.mb-50
    h2.quiz__block-tlt
        span.d-block Пройди тест, выясни, что тормозит тебя больше всего,
        span.fw-500.fz-19 и получи набор мини-техник, чтобы исправить ситуацию
