header.quiz__header.mb-xl-50.mb-30
    h2.quiz__block-tlt.mb-0
        span.d-block Пройди тест, выясни, что тормозит тебя больше всего
        span.fw-500.fz-19 и получи набор мини-техник, чтобы исправить ситуацию
