.white-wrap
    background-color: $white
    position: relative
    padding: 30px
    z-index: 1
    @include media-breakpoint-up(sm)
        border-radius: 3px
        box-shadow: 0 0 27px 0 rgba(43, 95, 153, 0.11)
        padding: 20px
    @include media-breakpoint-up(lg)
        padding: 35px
    @include media-breakpoint-up(xl)
        padding: 40px
        // margin-top: -60px

    &--inactive
        display: block !important
        animation: 2s animateTop ease infinite
        opacity: 0.74
        position: absolute
        top: calc(100% - 60px)
        width: 100%
        max-width: 895px
        margin-top: 0
        @include media-breakpoint-up(lg)
            top: calc(100% - 150px)

        .result__static,
        .result__container,
        .footer
            display: none

@keyframes animateTop
    0%
        top: calc(100% - 80px)

    50%
        top: calc(100% - 130px)

    100%
        top: calc(100% - 80px)
