.white-wrap
    background-color: $white
    position: relative
    padding: 30px
    z-index: 1
    @include media-breakpoint-up(sm)
        border-radius: 3px
        box-shadow: 0 0 27px 0 rgba(43, 95, 153, 0.11)
        padding: 20px
    @include media-breakpoint-up(lg)
        padding: 35px
    @include media-breakpoint-up(xl)
        padding: 40px
        margin-top: -60px

    &--no-active
        animation: 2s animateTop ease infinite
        opacity: 0.74
        position: absolute
        width: 100%
        max-width: 895px

        .result__static,
        .result__container,
        .footer
            display: none


@keyframes animateTop
    0%
        transform: translateY(-20px)

    50%
        transform: translateY(40px)

    100%
        transform: translateY(-20px)
