footer.footer
    .row.justify-content-between
        .col-md-5.text-center
            a.footer__link(href="#") Политика конфиденциальности

        .col-md-5.text-center
            a.footer__link(href="#") Разработано в Quiz24.ru
