footer.footer
    .row.justify-content-between
        .col-lg-5.text-center
            a.footer__link(href="#") Политика конфиденциальности

        .col-lg-5.text-center.mt-2.mt-lg-0
            a.footer__link(href="#") Разработано в Quiz24.ru
