.spinner-block {
    $self: &;

    margin: 0 auto;
    width: 98px;
    position: relative;

    &::before {
        background-color: $cobalt;
        border-radius: 50%;
        content: "";
        @include pos-strech;
        top: 11px;
        right: 11px;
        bottom: 11px;
        left: 11px;
    }

    &__svg {
        stroke-dasharray: 300;
        stroke-dashoffset: 300%;
        /* stroke-dashoffset: 300; */
        transition: all .8s ease-in-out;
        transform: rotate(-90deg)
    }

    &.animate {
        #{$self}__svg {
            animation: offset 5s ease-in-out forwards;
        }
    }

    &__counter {
        @include pos-center;
        color: $white;
        font-size: 18px;
    }

    &__icon {
        display: none;
        @include pos-center;
    }

    &__arrow {
        display: none;
        position: absolute;
        top: 0;
        right: -80px;
    }
}

@keyframes offset {
    100% {
        stroke-dashoffset: 0;
    }
}
