figure.chart-three.animate
    svg(role='img' xmlns='http://www.w3.org/2000/svg')
        title [title here]
        desc [long description here]
        circle.circle-background
        circle.circle-foreground
    figcaption 75% of all males like donuts.
