extends ./base/base

append variables
    - var title = 'Интерактивный тест, основанный на научных знаниях о мозге, когнитивистике и нейрофизиологии'

block main
    main#main
        .white-wrap
            .quiz.form.px-sm-20
                //- Header
                include ./components/quiz/quiz__header

                    .progress.mt-30
                        include ./components/progress/progress

                form#quizForm(novalidate)
                    .quiz__block
                        header.quiz__block-header
                            .quiz__block-header-counter.mr-25 1
                            h3.h4.quiz__title Я всегда пишу список целей на год, месяц, неделю, день. Обо мне можно сказать, что я знаю, чего хочу в жизни и как этого достичь.

                        //- Question block
                        .quiz__quest-block
                            include ./components/quiz/quiz__quest-block

                            .quiz__btns.text-center.mt-50
                                .row.justify-content-center
                                    .col-sm-auto
                                        button.btn-prev.btn.btn-secondary.btn-s48.px-25(type="button") < Предыдущий шаг
                                    .col-sm-auto
                                        button.btn-next.btn.btn-secondary.btn-flare.btn-s48.px-25.is-active(type="button") Cледующий шаг >
                    //- Get phone block
                    .quiz__get-phone.mt-50
                        include ./components/quiz/quiz__get-phone

            //- Block footer
            include ./components/footer/footer

        .white-wrap.mt-20
            .result.px-sm-20
                .row.justify-content-center
                    .col-md-10
                        header.result__header
                            i.icon.unlock
                            h2.m-0.result__title Результат тестирования и мини-техники для тебя

                //- Staic text
                .result__static.mt-50
                    include ./components/result/result__static

                .result__container.mt-50
                    h2.h4.result__container-tlt.mb-30 Результаты самодиагностики по 5 векторам <br />достижения целей и успеха

                    //- Blocks
                    .result__container-blocks
                        //- Block #1
                        .result-block
                            include ./components/result/bad/result-block__1

                        //- Block #2
                        .result-block.px-30
                            include ./components/result/bad/result-block__2

            //- Block footer
            include ./components/footer/footer
