extends ./base/base
include ./components/result/good/result-block
include ./components/quiz/quiz__quest-block

append variables
    - var title = 'Интерактивный тест, основанный на научных знаниях о мозге, когнитивистике и нейрофизиологии'

block main
    main#main.content
        .white-wrap.whie-wrap__hide-success--js.mt-xl-n60
            .quiz.form.px-sm-20
                //- Header
                include ./components/quiz/quiz__header

                #progress.progress.mt-30
                    include ./components/progress/progress

                form#quizForm(novalidate)
                    //- ====================== Questions ====================================
                    .quiz__block.mt-30
                        .quiz__quest-items
                            - var n = 1;
                            each item in questions
                                - var isActive = n === 1 ? ' is-active' : '';
                                div(class=`quiz__quest-block quiz__quest-block--js${isActive}` id=`quizQuestBlock-${n}`)
                                    header.quiz__block-header
                                        .quiz__block-header-counter.mr-25= n
                                        h3.h4.quiz__title.my-0= item.title

                                    +quiz-quest-block(n, item.answers, item.description, item.title)
                                - n++;

                        //- Question buttons navigation
                        .quiz__btns.quiz__btns--js.text-center.mt-50
                            .container
                                .row.justify-content-center.mx-0
                                    .col-lg-auto.col-6.px-0.px-lg-15
                                        button.btn-prev.btn.btn-secondary.btn-s48.px-sm-25.btn-prev--js(type="button") < Назад
                                    .col-lg-auto.col-12.px-0.px-lg-15
                                        button.btn-next.btn.btn-secondary.btn-s48.px-sm-25.btn-next--js(type="button") Cледующий шаг >

                    //- ===================== Get phone block ======================================
                    .quiz__get-phone.quiz__get-phone--js.mt-60
                        include ./components/quiz/quiz__get-phone

            //- Block footer
            include ./components/footer/footer

        //- ================ Result block ================================

        #result.result.is-inactive.d-none
            .white-wrap.white-wrap--js
                .px-xl-20
                    .row.justify-content-center.no-gutters
                        .col-lg-10
                            header.result__header
                                i.icon.unlock
                                i.icon.lock
                                h2.m-0.result__title Результат тестирования и мини-техники для тебя

                    //- Staic text
                    .result__static.mt-xl-50.mt-30
                        include ./components/result/result__static

                    .result__container.mt-xl-50.mt-15
                        h2.h4.result__container-tlt.mb-30 Результаты самодиагностики по 5 векторам <br class="d-none d-xl-inline" />достижения целей и успеха

                        //- Blocks
                        .result__container-blocks
                            #resultContainerBlocks

                            .result-block.px-30
                                include components/result/bad/result-block__static

                //- Block footer
                include ./components/footer/footer
